body {
    /* background: url(./among-us-reactor.jpg); */
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    /* justify-content: center; */
    justify-content: center;
    /* column-gap: 10px 10px; */
}
/* 
Gray light hex code: #696969
Green light hex code: #00C000
Red light hex code: #C02C00

Gray panel hex code: #AAAAAA

Blue left square hex code: #44A8FF

Dark gray right square hex code: #626162
Light gray right square hex code: #D1D0D1
Blue right square hex code: #327DBD
Red right square hex code: #D12F00
*/

.game-board {
    background-color: #111111;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto;
    width: 67%;
    /* min-height: 400px; */
}
.left-panel {
    background-color: #AAAAAA;
    /* margin: auto; */
    padding: 5%;
    width: 30%;
}
.right-panel {
    background-color: #BBBBBB;
    /* margin: auto; */
    padding: 5%;
    width: 30%;
}
.left-lights {
    background-color: #696969;
}
.right-lights {
    background-color: #696969;
}