* {
    border: solid red;
}

body {
    /* background: url(./among-us-reactor.jpg); */
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    /* column-gap: 10px 10px; */
}

/* 
Gray light hex code: #696969
Green light hex code: #00C000
Red light hex code: #C02C00

Gray panel hex code: #AAAAAA

Blue left square hex code: #44A8FF

Dark gray right square hex code: #626162
Light gray right square hex code: #D1D0D1
Blue right square hex code: #327DBD
Red right square hex code: #D12F00
*/

.game-board {
    /* background-color: #111111; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 25%;
    width: 70%;
    height: 67vh;
    gap: 10px;
}
.left-panel {
    background-color: #AAAAAA;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    width: 48%;
}
.right-panel {
    background-color: #AAAAAA;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    width: 48%;
}
.left-grid {
    background-color: #000000;
    color: #44A8FF;
    margin: 5px;
    height: 16px;
    width: 16x;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.right-grid {
    background-color: #D1D0D1;
    color: #327DBD;
    margin: 5px;
    height: 16px;
    width: 16x;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.left-lights {
    background-color: #696969;
    display: flex;
    flex-flow: row nowrap;
}
.right-lights {
    background-color: #696969;
    display: flex;
    flex-flow: row nowrap;
}

#left-box-1 { grid-area: 1 / 1 / 2 / 2; }
#left-box-2 { grid-area: 1 / 2 / 2 / 3; }
#left-box-3 { grid-area: 1 / 3 / 2 / 4; }
#left-box-4 { grid-area: 2 / 1 / 3 / 2; }
#left-box-5 { grid-area: 2 / 2 / 3 / 3; }
#left-box-6 { grid-area: 2 / 3 / 3 / 4; }
#left-box-7 { grid-area: 3 / 1 / 4 / 2; }
#left-box-8 { grid-area: 3 / 2 / 4 / 3; }
#left-box-9 { grid-area: 3 / 3 / 4 / 4; }
#right-box-1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #000000;
    color: #327DBD;
}
#right-box-2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #000000;
    color: #327DBD;
}
#right-box-3 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #000000;
    color: #327DBD;
}
#right-box-4 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #000000;
    color: #327DBD;
}
#right-box-5 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #000000;
    color: #327DBD;
}
#right-box-6 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #000000;
    color: #327DBD;
}
#right-box-7 {
    grid-area: 3 / 1 / 4 / 2;
    background-color: #000000;
    color: #327DBD;
}
#right-box-8 {
    grid-area: 3 / 2 / 4 / 3;
    background-color: #000000;
    color: #327DBD;
}
#right-box-9 {
    grid-area: 3 / 3 / 4 / 4;
    background-color: #000000;
    color: #327DBD;
}