body {
    background: url(./among-us-reactor.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 37px;
    letter-spacing: -0.03em;
    text-align: center;
    font-weight: bold;
    -webkit-text-stroke: #000000;
    -webkit-text-stroke-width: 2.2px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

/* Class styling */
.text-container {
    background-color: rgba(255, 255, 255, 0.5);
    /* transparency? */
    border: solid red 2px;
    position: absolute;
    top: 46.5vh;
}

/* .start {} */

.game-board {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin-top: 8%;
    gap: 0px;
}
.left-panel, .right-panel {
    background-color: #AAAAAA;
    border-style: outset;
    border-width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 35vh;
}
.left-indicator, .right-indicator {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 1%;
}
.left-grid {
    background-color: #000000;
    border-style: solid;
    border-color: #D1D0D1;
    border-width: 9px;
    border-radius: 5%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.right-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}
.left-light, .right-light {
    background-color: #696969;
    border-style: solid;
    border-color: #333333;
    border-width: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.left-box {
    background-color: #000000;
    border: none;
    border-radius: 0;
    width: 60px;
    height: 60px;
}
.right-box {
    border-style: outset;
    border-width: 8px;
    background-color: #696969;
    width: 42px;
    height: 42px;
}

/* ID styling */
#left-box-1 { grid-area: 1 / 1 / 2 / 2; }
#left-box-2 { grid-area: 1 / 2 / 2 / 3; }
#left-box-3 { grid-area: 1 / 3 / 2 / 4; }
#left-box-4 { grid-area: 2 / 1 / 3 / 2; }
#left-box-5 { grid-area: 2 / 2 / 3 / 3; }
#left-box-6 { grid-area: 2 / 3 / 3 / 4; }
#left-box-7 { grid-area: 3 / 1 / 4 / 2; }
#left-box-8 { grid-area: 3 / 2 / 4 / 3; }
#left-box-9 { grid-area: 3 / 3 / 4 / 4; }
#right-box-1 { grid-area: 1 / 1 / 2 / 2; }
#right-box-2 { grid-area: 1 / 2 / 2 / 3; }
#right-box-3 { grid-area: 1 / 3 / 2 / 4; }
#right-box-4 { grid-area: 2 / 1 / 3 / 2; }
#right-box-5 { grid-area: 2 / 2 / 3 / 3; }
#right-box-6 { grid-area: 2 / 3 / 3 / 4; }
#right-box-7 { grid-area: 3 / 1 / 4 / 2; }
#right-box-8 { grid-area: 3 / 2 / 4 / 3; }
#right-box-9 { grid-area: 3 / 3 / 4 / 4; }

/* 
Left/right lights - "Gray" hex code: #696969
Left/right lights - "Green" hex code: #00C000
Left/right lights - "Red" hex code: #C02C00
Left/right panel - "Gray" hex code: #AAAAAA
Left squares - "Blue" hex code: #44A8FF
Right squares - "Dark gray" hex code changed to #696969, original: #626162
Right squares - "Light gray" hex code: #D1D0D1
Right squares - "Blue" hex code: #327DBD
Right squares - "Red" hex code: #D12F00
*/

/* Animation blink classes */
.blue {
    animation: blink-blue;
    animation-duration: .15s;
    animation-timing-function: step-end;
}
.red {
    animation: blink-red;
    animation-duration: .6s;
    animation-iteration-count: 3;
    animation-timing-function: step-end;
}
.cyan {
    animation: blink-cyan;
    animation-duration: .15s;
    animation-timing-function: step-end;
}
.cyan-win {
    animation: cyan-win;
    animation-duration: .6s;
    animation-timing-function: step-end;
}
@keyframes blink-blue {
    0% { background-color: #44A8FF; }
}
@keyframes blink-red {
    0% { background-color: #D12F00; }
    50% { background-color: #C0C0C0; }
}
@keyframes blink-cyan {
    0% { background-color: #327DBD; }
}
@keyframes cyan-win {
    0% { background-color: #327DBD; }
}

/* Media queries */
@media screen and (orientation: landscape) and (min-width: 1350px) {
    body {
        font-size: 90px;
        -webkit-text-stroke: #000000;
        -webkit-text-stroke-width: 4px;
    }    
    .game-board {
        justify-content: space-between;
        width: 60%;
        height: 60vh;
        margin-top: 9%;
    }
    .left-panel, .right-panel {
        border-width: 38px;
        width: 40%;
        height: 53vh;
    }
    .left-indicator, .right-indicator {
        width: 90%;
    }
    .left-grid {
        border-width: 11px;
        border-radius: 4%;
    }
    .right-grid {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .left-light {
        border-width: 4px;
        width: 38px;
        height: 38px;
    }
    .right-light {
        border-width: 4px;
        width: 38px;
        height: 38px;
    }
    .left-box {
        width: 100px;
        height: 100px;
    }
    .right-box {
        width: 72px;
        height: 72px;
    }
}